name = "AD_dnSVM"
version = "0.0.0"
license = "MIT"
author = "David Lauvergnat"
maintainer = "david.lauvergnat@universite-paris-saclay.fr"
copyright = "2021 David Lauvergnat"

[library]
source-dir="SRC"

[[test]]
name="dnS"
source-dir="Tests"
main="TEST_dnS.f90"

[[test]]
name="dnPoly"
source-dir="Tests"
main="TEST_dnPoly.f90"

[[test]]
name="dnVec"
source-dir="Tests"
main="TEST_dnVec.f90"

[[test]]
name="dnMat"
source-dir="Tests"
main="TEST_dnMat.f90"

[[executable]]
name="Exa_dnS"
source-dir="APP"
main="Example_dnS.f90"


[build]
link = ["blas", "lapack"]

[dependencies]
QDUtilLib = { git = "https://github.com/lauvergn/QDUtilLib" }


[preprocess]
cpp.macros = ["__LAPACK=1"]

[fortran]
implicit-external = true
